In [1]:
import pandas as pd
import math

In [6]:
# df = pd.read_csv('combinedworkloads_runtime.csv')
# print(df.columns)

In [7]:
# df = pd.read_csv('combinedworkloads_runtime.csv')
# df 
# for k in [0]:
#     for run in range(0,7):
#         if run==4:
#             continue
#         temp_df = pd.read_csv('amd_l2_cache_' + str(run) + '_k' + str(k))
#         # print(df['Unnamed: 0'])
#         # print(temp_df.columns)
#         for index, row in temp_df.iterrows():
#             # print(row['Metrics'])
#             if not df['Unnamed: 0'].isin([row['Metrics']]).any():
#                 # print(row['Metrics'])
#                 df.loc[len(df.index)] = [row['Metrics'],'',str(row['Value'])]
#             else:
#                 # print('Something')
#                 # print(df.loc[df['Unnamed: 0'] == row["Metrics"],df.columns[2]])
#                 if len(df.loc[df['Unnamed: 0'] == row["Metrics"],df.columns[2]]) != 6:
#                     df.loc[df['Unnamed: 0'] == row["Metrics"],df.columns[2]] += ',' + str(row['Value']) 
#     #     break
#     # break
# for k in [1]:
#     for run in range(0,7):
#         if run==4:
#             continue
#         temp_df = pd.read_csv('amd_l2_cache_' + str(run) + '_k' + str(k))
#         # print(df['Unnamed: 0'])
#         # print(temp_df.columns)
#         for index, row in temp_df.iterrows():
#             # print(row['Metrics'])
#             if math.isnan(row['Value']):
#                 row['Value'] = 0.0
#             if df.loc[df['Unnamed: 0'] == row["Metrics"],df.columns[1]].values[0] == '':
#                 df.loc[df['Unnamed: 0'] == row["Metrics"],df.columns[1]] += str(row['Value']) 
#             else:
#                 if len(df.loc[df['Unnamed: 0'] == row["Metrics"],df.columns[1]])!=6:
#                     df.loc[df['Unnamed: 0'] == row["Metrics"],df.columns[1]] += ',' + str(row['Value']) 
#     #     break    
# print('gpu-id' in df['Unnamed: 0'])
# print(df.tail())
# df.to_csv('test.csv')

In [2]:
df = pd.DataFrame()
df_2 = pd.DataFrame()
for k in [0]:
    for run in range(0,7):
        if run==4:
            continue
        temp_df = pd.read_csv('amd_l2_cache_' + str(run) + '_k' + str(k))
        if run == 0:
            df = temp_df
            df['Value'] = df['Value'].astype(str) 
            continue
        for index, row in temp_df.iterrows():
            # print(row['Metrics'])
            # print(df.loc[df['Metrics']==row['Metrics'],'Value'])
            df.loc[df['Metrics']==row['Metrics'],'Value'] += ',' + str(row['Value'])
    #     break
    # break
for k in [1]:
    for run in range(0,7):
        if run==4:
            continue
        temp_df = pd.read_csv('amd_l2_cache_' + str(run) + '_k' + str(k))
        if run == 0:
            df_2 = temp_df
            df_2['Value'] = df_2['Value'].astype(str) 
            continue
        for index, row in temp_df.iterrows():
            df_2.loc[df_2['Metrics']==row['Metrics'],'Value'] += ',' + str(row['Value'])
    #     break

df_2 = df_2.rename(columns={'Value': 'Value_2'})
# df_2 = df_2.set_index('Metrics')
# print(df_2.head())
# df = df.set_index('Metrics')
# result = pd.concat([df_2, df], axis=1, join="inner")
result = df_2.merge(df,on='Metrics')
result.set_index('Metrics')
result = result.drop(['Unnamed: 0_x','Unnamed: 0_y'],axis=1)

df = pd.read_csv('combinedworkloads_runtime.csv')

for index, row in result.iterrows():
    elements1 = [float(x) for x in row['Value_2'].split(',')]
    res1 = all(x == 0 for x in elements1)
    elements2 = [float(x) for x in row['Value'].split(',')]
    res2 = all(x == 0 for x in elements2)
    if res1 and res2:
        result = result.drop(index)
    print(row)

# print(result)
# result.to_csv('test.csv')

Metrics                                   VALU_FLOPs
Value_2                      0.0,0.0,0.0,0.0,0.0,0.0
Value      328.25,328.79,330.22,329.08,330.23,330.88
Name: 0, dtype: object
Metrics                                    VALU_IOPs
Value_2      370.44,370.16,374.9,371.87,375.5,369.64
Value      624.94,625.96,628.68,626.52,628.71,629.94
Name: 1, dtype: object
Metrics          MFMA_FLOPs_(BF16)
Value_2    0.0,0.0,0.0,0.0,0.0,0.0
Value      0.0,0.0,0.0,0.0,0.0,0.0
Name: 2, dtype: object
Metrics           MFMA_FLOPs_(F16)
Value_2    0.0,0.0,0.0,0.0,0.0,0.0
Value      0.0,0.0,0.0,0.0,0.0,0.0
Name: 3, dtype: object
Metrics           MFMA_FLOPs_(F32)
Value_2    0.0,0.0,0.0,0.0,0.0,0.0
Value      0.0,0.0,0.0,0.0,0.0,0.0
Name: 4, dtype: object
Metrics           MFMA_FLOPs_(F64)
Value_2    0.0,0.0,0.0,0.0,0.0,0.0
Value      0.0,0.0,0.0,0.0,0.0,0.0
Name: 5, dtype: object
Metrics           MFMA_IOPs_(Int8)
Value_2    0.0,0.0,0.0,0.0,0.0,0.0
Value      0.0,0.0,0.0,0.0,0.0,0.0
Name: 6, dtype: object
Metrics                             Active_CUs
Value_2          45.0,45.0,45.0,45.0,45.0,45.0
Value      104.0,104.0,104.0,104.0,104.0,104.0
Name: 7, dtype: object
Metrics                        SALU_Util
Value_2    1.12,1.11,1.11,1.12,1.12,1.12
Value      1.85,1.86,1.84,1.86,1.85,1.84
Name: 8, dtype: object
Metrics                             VALU_Util
Value_2             5.4,5.4,5.4,5.4,5.43,5.43
Value      11.22,11.29,11.17,11.3,11.22,11.16
Name: 9, dtype: object
Metrics                  MFMA_Util
Value_2    0.0,0.0,0.0,0.0,0.0,0.0
Value      0.0,0.0,0.0,0.0,0.0,0.0
Name: 10, dtype: object
Metrics               VALU_Active_Threads/Wave
Value_2          64.0,64.0,64.0,64.0,64.0,64.0
Value      63.66,63.66,63.66,63.66,63.66,63.66
Name: 11, dtype: object
Metrics                      IPC_-_Issue
Value_2          1.0,1.0,1.0,1.0,1.0,1.0
Value      0.99,0.99,0.99,0.99,0.99,0.99
Name: 12, dtype: object
Metrics                     LDS_BW
Value_2    0.0,0.0,0.0,0.0,0.0,0.0
Value      0.0,0.0,0.0,0.0,0.0,0.0
Name: 13, dtype: object
Metrics          LDS_Bank_Conflict
Value_2    0.0,0.0,0.0,0.0,0.0,0.0
Value      0.0,0.0,0.0,0.0,0.0,0.0
Name: 14, dtype: object
Metrics                   Instr_Cache_Hit_Rate
Value_2    99.99,99.99,99.99,99.99,99.99,99.99
Value      100.0,100.0,100.0,100.0,100.0,100.0
Name: 15, dtype: object
Metrics                               Instr_Cache_BW
Value_2    222.44,222.27,225.13,223.29,225.48,221.95
Value      321.94,322.46,323.87,322.76,323.88,324.52
Name: 16, dtype: object
Metrics              Scalar_L1D_Cache_Hit_Rate
Value_2    86.88,86.74,86.83,86.91,86.26,86.75
Value      100.0,100.0,100.0,100.0,100.0,100.0
Name: 17, dtype: object
Metrics                    Scalar_L1D_Cache_BW
Value_2           2.58,2.6,2.71,2.61,2.73,2.54
Value      18.94,18.97,19.05,18.99,19.05,19.09
Name: 18, dtype: object
Metrics    Vector_L1D_Cache_Hit_Rate
Value_2     0.0,0.0,0.0,-0.0,0.0,0.0
Value      0.0,0.0,-0.0,0.0,0.0,-0.0
Name: 19, dtype: object
Metrics                                Vector_L1D_Cache_BW
Value_2      1177.16,1176.2,1191.01,1181.63,1192.89,1174.7
Value      2424.01,2427.97,2438.51,2430.16,2438.65,2443.41
Name: 20, dtype: object
Metrics                      L2_Cache_Hit_Rate
Value_2    50.01,50.01,50.01,50.01,50.01,50.01
Value      34.86,34.43,34.68,34.69,34.86,34.75
Name: 21, dtype: object
Metrics                            L2-Fabric_Read_BW
Value_2                0.03,0.03,0.03,0.04,0.03,0.03
Value      902.58,898.39,909.11,905.26,907.02,924.54
Name: 22, dtype: object
Metrics                                L2-Fabric_Write_BW
Value_2    1052.68,1051.1,1060.08,1054.67,1061.95,1050.87
Value                             0.0,0.0,0.0,0.0,0.0,0.0
Name: 23, dtype: object
Metrics                             L2-Fabric_Read_Latency
Value_2    1142.69,1170.24,1360.16,1149.49,1144.37,1131.09
Value             437.42,463.6,554.99,430.14,449.32,427.59
Name: 24, dtype: object
Metrics                     L2-Fabric_Write_Latency
Value_2    405.05,395.07,395.77,393.16,393.78,391.5
Value                       0.0,0.0,0.0,0.0,0.0,0.0
Name: 25, dtype: object
Metrics                                    Wave_Occupancy
Value_2          148.07,148.45,148.06,148.6,148.71,148.42
Value      2143.6,2150.13,2149.77,2147.13,2135.92,2146.28
Name: 26, dtype: object
Metrics                               Instr_Fetch_BW
Value_2    111.22,111.14,112.56,111.65,112.74,110.98
Value      160.97,161.23,161.95,161.38,161.94,162.26
Name: 27, dtype: object
Metrics                    Instr_Fetch_Latency
Value_2    16.49,16.47,16.48,16.47,16.48,16.48
Value           16.0,16.0,16.03,16.0,16.0,16.0
Name: 28, dtype: object
Metrics                                  GPU_Busy_Cycles_avg
Value_2    628035.64,627633.94,628541.44,628734.31,627146...
Value      39425821.9,39172153.59,39650000.62,38730175.72...
Name: 29, dtype: object
Metrics                                  GPU_Busy_Cycles_min
Value_2      14534.0,13906.0,14515.0,13070.0,13877.0,13834.0
Value      11914097.0,11889863.0,11884369.0,11873684.0,11...
Name: 30, dtype: object
Metrics                                  GPU_Busy_Cycles_max
Value_2    4940603.0,5078161.0,4728322.0,4820002.0,478727...
Value      69445906.0,69626997.0,69054232.0,64450680.0,68...
Name: 31, dtype: object
Metrics                                         CPF_Busy_avg
Value_2    628035.64,627633.94,628541.41,628734.31,627146...
Value      39425821.78,39172153.5,39649998.98,38730175.6,...
Name: 32, dtype: object
Metrics                                         CPF_Busy_min
Value_2      14534.0,13906.0,14515.0,13070.0,13877.0,13834.0
Value      11914097.0,11889863.0,11884369.0,11873684.0,11...
Name: 33, dtype: object
Metrics                                         CPF_Busy_max
Value_2    4940603.0,5078161.0,4728322.0,4820002.0,478727...
Value      69445899.0,69626991.0,69054230.0,64450680.0,68...
Name: 34, dtype: object
Metrics                           CPF_Util_avg
Value_2    100.0,100.0,100.0,100.0,99.54,99.48
Value       99.06,98.8,99.03,99.06,99.02,98.82
Name: 35, dtype: object
Metrics                           CPF_Util_min
Value_2    100.0,100.0,100.0,100.0,20.56,10.12
Value       32.69,27.99,28.29,27.6,29.17,24.38
Name: 36, dtype: object
Metrics                           CPF_Util_max
Value_2    100.0,100.0,100.0,100.0,100.0,100.0
Value      100.0,100.0,100.0,100.0,100.0,100.0
Name: 37, dtype: object
Metrics               CPF_Stall_avg
Value_2    0.0,0.0,0.01,0.0,0.0,0.0
Value      0.0,0.0,0.01,0.0,0.0,0.0
Name: 38, dtype: object
Metrics              CPF_Stall_min
Value_2    0.0,0.0,0.0,0.0,0.0,0.0
Value      0.0,0.0,0.0,0.0,0.0,0.0
Name: 39, dtype: object
Metrics                    CPF_Stall_max
Value_2       0.3,0.3,1.29,0.31,0.26,0.3
Value      0.02,0.02,0.13,0.02,0.02,0.02
Name: 40, dtype: object
Metrics                              L2Cache_Intf_Busy_avg
Value_2     3286.1,3268.41,3622.53,3827.97,3190.99,3203.83
Value      4552.91,4442.02,5280.19,3532.36,5164.72,5196.55
Name: 41, dtype: object
Metrics                        L2Cache_Intf_Busy_min
Value_2    1508.0,1506.0,1418.0,1469.0,1536.0,1529.0
Value      2369.0,2034.0,2195.0,2087.0,2132.0,2064.0
Name: 42, dtype: object
Metrics                               L2Cache_Intf_Busy_max
Value_2    22310.0,24497.0,110743.0,82440.0,22341.0,23625.0
Value       79449.0,84254.0,78094.0,79129.0,77979.0,78326.0
Name: 43, dtype: object
Metrics            L2Cache_Intf_Util_avg
Value_2    5.06,4.81,4.86,4.86,4.89,5.03
Value      0.01,0.01,0.01,0.01,0.01,0.01
Name: 44, dtype: object
Metrics            L2Cache_Intf_Util_min
Value_2    0.05,0.04,0.05,0.06,0.04,0.02
Value            0.0,0.0,0.0,0.0,0.0,0.0
Name: 45, dtype: object
Metrics                  L2Cache_Intf_Util_max
Value_2    20.62,17.52,18.21,17.48,20.38,18.22
Value            0.14,0.13,0.13,0.14,0.17,0.12
Name: 46, dtype: object
Metrics     L2Cache_Intf_Stall_avg
Value_2    0.0,0.0,0.0,0.0,0.0,0.0
Value      0.0,0.0,0.0,0.0,0.0,0.0
Name: 47, dtype: object
Metrics     L2Cache_Intf_Stall_min
Value_2    0.0,0.0,0.0,0.0,0.0,0.0
Value      0.0,0.0,0.0,0.0,0.0,0.0
Name: 48, dtype: object
Metrics     L2Cache_Intf_Stall_max
Value_2    0.0,0.0,0.0,0.0,0.0,0.0
Value      0.0,0.0,0.0,0.0,0.0,0.0
Name: 49, dtype: object
Metrics                              UTCL1_Stall_avg
Value_2       137.47,91.43,88.16,91.02,126.34,129.33
Value      264.58,233.87,242.36,395.76,237.57,257.84
Name: 50, dtype: object
Metrics            UTCL1_Stall_min
Value_2    0.0,0.0,0.0,0.0,0.0,0.0
Value      0.0,0.0,0.0,0.0,0.0,0.0
Name: 51, dtype: object
Metrics                                    UTCL1_Stall_max
Value_2          9137.0,7929.0,7775.0,8046.0,7963.0,8263.0
Value      11878.0,10222.0,10520.0,13662.0,10530.0,12071.0
Name: 52, dtype: object
Metrics                              CPC_GPU_Busy_Cycles_avg
Value_2    628035.64,627633.94,628541.44,628734.31,627146...
Value      39425821.9,39172153.59,39650000.62,38730175.72...
Name: 53, dtype: object
Metrics                              CPC_GPU_Busy_Cycles_min
Value_2      14534.0,13906.0,14515.0,13070.0,13877.0,13834.0
Value      11914097.0,11889863.0,11884369.0,11873684.0,11...
Name: 54, dtype: object
Metrics                              CPC_GPU_Busy_Cycles_max
Value_2    4940603.0,5078161.0,4728322.0,4820002.0,478727...
Value      69445906.0,69626997.0,69054232.0,64450680.0,68...
Name: 55, dtype: object
Metrics                                  CPC_Busy_Cycles_avg
Value_2    628035.64,627633.94,628527.88,628734.31,627146...
Value      39425499.3,39171829.73,39649219.13,38730052.98...
Name: 56, dtype: object
Metrics                                  CPC_Busy_Cycles_min
Value_2      14534.0,13906.0,14515.0,13070.0,13877.0,13834.0
Value      11914097.0,11889863.0,11884369.0,11873684.0,11...
Name: 57, dtype: object
Metrics                                  CPC_Busy_Cycles_max
Value_2    4940603.0,5078161.0,4728322.0,4820002.0,478727...
Value      69440701.0,69621713.0,69053066.0,64450680.0,68...
Name: 58, dtype: object
Metrics                           CPC_Util_avg
Value_2    100.0,100.0,99.99,100.0,100.0,100.0
Value       99.1,99.11,99.77,98.96,99.53,99.13
Name: 59, dtype: object
Metrics                           CPC_Util_min
Value_2    100.0,100.0,97.81,100.0,100.0,100.0
Value       36.25,34.27,82.8,26.96,75.15,33.33
Name: 60, dtype: object
Metrics                           CPC_Util_max
Value_2    100.0,100.0,100.0,100.0,100.0,100.0
Value      100.0,100.0,100.0,100.0,100.0,100.0
Name: 61, dtype: object
Metrics                                 CPC_Stall_Cycles_avg
Value_2    91655.61,92140.99,90785.17,93469.65,94244.89,9...
Value      24615.42,30658.2,24564.45,32076.37,23141.79,31...
Name: 62, dtype: object
Metrics                               CPC_Stall_Cycles_min
Value_2          6628.0,6960.0,6444.0,6978.0,6816.0,6620.0
Value      12091.0,11991.0,11762.0,12349.0,11957.0,12286.0
Name: 63, dtype: object
Metrics                                 CPC_Stall_Cycles_max
Value_2    667346.0,643498.0,635502.0,803483.0,943587.0,9...
Value      552166.0,610503.0,591196.0,732623.0,413745.0,6...
Name: 64, dtype: object
Metrics                    CPC_Stall_Rate_avg
Value_2    28.35,28.33,26.77,28.56,28.5,28.72
Value           0.07,0.08,0.07,0.09,0.07,0.08
Name: 65, dtype: object
Metrics                     CPC_Stall_Rate_min
Value_2    12.73,12.51,10.13,12.76,13.08,12.63
Value            0.02,0.03,0.02,0.03,0.03,0.02
Name: 66, dtype: object
Metrics                     CPC_Stall_Rate_max
Value_2    65.36,65.41,61.73,64.87,70.39,67.07
Value            0.81,0.88,1.21,1.35,0.78,0.99
Name: 67, dtype: object
Metrics                              CPC_Packet_Decoding_avg
Value_2    626660.22,623048.03,622783.9,623688.65,624242....
Value      54085.05,53844.58,55237.7,54445.93,55110.53,54...
Name: 68, dtype: object
Metrics                            CPC_Packet_Decoding_min
Value_2    10697.0,10648.0,10538.0,10566.0,10520.0,10823.0
Value      27303.0,27242.0,27524.0,27534.0,27130.0,27635.0
Name: 69, dtype: object
Metrics                              CPC_Packet_Decoding_max
Value_2    4810069.0,4689240.0,4951945.0,4741202.0,483994...
Value       85935.0,89253.0,85968.0,102989.0,88131.0,83589.0
Name: 70, dtype: object
Metrics                             SPI_Intf_Busy_Cycles_avg
Value_2            560.58,560.47,560.48,560.62,560.55,560.51
Value      38937776.08,39394419.26,39113504.42,39598653.2...
Name: 71, dtype: object
Metrics                             SPI_Intf_Busy_Cycles_min
Value_2                  559.0,559.0,559.0,559.0,559.0,559.0
Value      11827566.0,11887450.0,11850653.0,11872958.0,11...
Name: 72, dtype: object
Metrics                             SPI_Intf_Busy_Cycles_max
Value_2                  562.0,562.0,562.0,562.0,562.0,562.0
Value      69223568.0,68996562.0,65164777.0,68070775.0,67...
Name: 73, dtype: object
Metrics                        SPI_Intf_Util_avg
Value_2            1.08,1.07,1.06,1.07,1.08,1.08
Value      99.08,100.67,99.14,101.99,99.54,99.87
Name: 74, dtype: object
Metrics                   SPI_Intf_Util_min
Value_2       0.01,0.01,0.01,0.01,0.01,0.01
Value      74.3,88.02,81.1,78.42,75.44,83.3
Name: 75, dtype: object
Metrics                            SPI_Intf_Util_max
Value_2                 3.85,4.04,3.86,4.3,4.04,4.05
Value      116.86,135.69,129.75,151.66,140.29,115.18
Name: 76, dtype: object
Metrics        CPC_L2Cache_Intf_Util_avg
Value_2    0.57,0.57,0.58,0.57,0.58,0.57
Value            0.0,0.0,0.0,0.0,0.0,0.0
Name: 77, dtype: object
Metrics      CPC_L2Cache_Intf_Util_min
Value_2    0.01,0.01,0.0,0.0,0.01,0.01
Value          0.0,0.0,0.0,0.0,0.0,0.0
Name: 78, dtype: object
Metrics        CPC_L2Cache_Intf_Util_max
Value_2    2.17,2.15,2.19,2.15,2.18,2.15
Value            0.0,0.0,0.0,0.0,0.0,0.0
Name: 79, dtype: object
Metrics                             UTCL1_Stall_Cycles_avg
Value_2     2033.23,2118.01,2148.33,2104.37,2085.6,2106.68
Value      3628.93,3812.35,3825.57,3723.94,3677.28,3736.26
Name: 80, dtype: object
Metrics                       UTCL1_Stall_Cycles_min
Value_2          540.0,545.0,540.0,545.0,545.0,543.0
Value      3146.0,3226.0,3266.0,3180.0,3178.0,3207.0
Name: 81, dtype: object
Metrics                             UTCL1_Stall_Cycles_max
Value_2          5634.0,4910.0,6737.0,5105.0,9637.0,9928.0
Value      12127.0,11003.0,11143.0,10976.0,11722.0,11975.0
Name: 82, dtype: object
Metrics                        UTCL2_Intf_Busy_Cycles_avg
Value_2    2341.26,2357.16,2282.73,2264.2,2396.98,2337.17
Value      4042.23,3946.99,3773.3,3935.19,4058.88,3942.86
Name: 83, dtype: object
Metrics                  UTCL2_Intf_Busy_Cycles_min
Value_2         814.0,814.0,814.0,814.0,814.0,814.0
Value      3472.0,3523.0,814.0,3372.0,3640.0,3446.0
Name: 84, dtype: object
Metrics                         UTCL2_Intf_Busy_Cycles_max
Value_2          5012.0,5604.0,5965.0,6379.0,5377.0,5338.0
Value      13780.0,12824.0,11247.0,11796.0,11800.0,11996.0
Name: 85, dtype: object
Metrics              UTCL2_Intf_Util_avg
Value_2     4.14,4.18,4.0,3.99,4.32,4.15
Value      0.02,0.01,0.01,0.01,0.02,0.01
Name: 86, dtype: object
Metrics              UTCL2_Intf_Util_min
Value_2    0.02,0.02,0.02,0.02,0.02,0.02
Value        0.01,0.0,0.0,0.01,0.01,0.01
Name: 87, dtype: object
Metrics                   UTCL2_Intf_Util_max
Value_2    19.0,21.28,18.25,19.48,21.58,19.68
Value           0.04,0.04,0.04,0.04,0.04,0.04
Name: 88, dtype: object
Metrics                                         GPU_Busy_avg
Value_2    628035.64,627633.94,628541.44,628734.31,627146...
Value      39425821.9,39172153.59,39650000.62,38730175.72...
Name: 89, dtype: object
Metrics                                         GPU_Busy_min
Value_2      14534.0,13906.0,14515.0,13070.0,13877.0,13834.0
Value      11914097.0,11889863.0,11884369.0,11873684.0,11...
Name: 90, dtype: object
Metrics                                         GPU_Busy_max
Value_2    4940603.0,5078161.0,4728322.0,4820002.0,478727...
Value      69445906.0,69626997.0,69054232.0,64450680.0,68...
Name: 91, dtype: object
Metrics                                          CS_Busy_avg
Value_2    4733641.54,4732338.36,3319128.97,4737977.78,47...
Value      315156078.59,313119977.4,204055707.63,30955006...
Name: 92, dtype: object
Metrics                                          CS_Busy_min
Value_2          31259.0,31124.0,0.0,31256.0,33202.0,31396.0
Value      95118720.0,94959416.0,0.0,94822114.0,94664190....
Name: 93, dtype: object
Metrics                                          CS_Busy_max
Value_2    37789783.0,38836575.0,32417618.0,36875704.0,36...
Value      551462642.0,552562986.0,542094273.0,515422880....
Name: 94, dtype: object
Metrics                                         SPI_Busy_avg
Value_2    619710.74,618848.05,618988.43,618098.76,616989...
Value      39663993.9,39312870.71,39188454.83,39617392.45...
Name: 95, dtype: object
Metrics                                         SPI_Busy_min
Value_2            4781.0,4669.0,4666.0,4773.0,4669.0,4669.0
Value      11837212.0,11850532.0,11902047.0,11836652.0,11...
Name: 96, dtype: object
Metrics                                         SPI_Busy_max
Value_2    4845050.0,4990758.0,4765334.0,4979444.0,473719...
Value      69194650.0,69406736.0,68337172.0,67513078.0,66...
Name: 97, dtype: object
Metrics                                          SQ_Busy_avg
Value_2    4725533.08,4724289.94,4714977.58,4729904.75,47...
Value      315147034.62,313111149.9,316488782.99,30954086...
Name: 98, dtype: object
Metrics                                          SQ_Busy_min
Value_2      24572.0,24519.0,24320.0,24663.0,26621.0,24809.0
Value      95110586.0,94951278.0,94895943.0,94813702.0,94...
Name: 99, dtype: object
Metrics                                          SQ_Busy_max
Value_2    37780648.0,38827856.0,36644500.0,36867563.0,36...
Value      551447861.0,552547973.0,551342156.0,515413389....
Name: 100, dtype: object
Metrics                            Dispatched_Workgroups_avg
Value_2                        52.0,52.0,52.3,52.3,52.0,52.0
Value      100000.31,100000.14,100000.0,100000.08,100000....
Name: 101, dtype: object
Metrics                            Dispatched_Workgroups_min
Value_2                        52.0,52.0,52.0,52.0,52.0,52.0
Value      100000.0,100000.0,100000.0,100000.0,100000.0,1...
Name: 102, dtype: object
Metrics                            Dispatched_Workgroups_max
Value_2                      52.0,52.0,104.0,104.0,52.0,52.0
Value      100027.0,100012.0,100000.0,100007.0,100000.0,1...
Name: 103, dtype: object
Metrics                            Dispatched_Wavefronts_avg
Value_2                208.0,208.0,209.21,209.21,208.0,208.0
Value      1600002.05,1600000.71,1600000.0,1600000.37,160...
Name: 104, dtype: object
Metrics                            Dispatched_Wavefronts_min
Value_2                  208.0,208.0,208.0,208.0,208.0,208.0
Value      1600000.0,1600000.0,1600000.0,1600000.0,160000...
Name: 105, dtype: object
Metrics                            Dispatched_Wavefronts_max
Value_2                  208.0,208.0,416.0,416.0,208.0,208.0
Value      1600176.0,1600061.0,1600000.0,1600032.0,160000...
Name: 106, dtype: object
Metrics                                Wave_Alloc_Failed_avg
Value_2                        12.0,12.0,12.0,12.0,12.0,12.0
Value      69674707.55,70259121.2,69865996.88,69408415.4,...
Name: 107, dtype: object
Metrics                                Wave_Alloc_Failed_min
Value_2                        12.0,12.0,12.0,12.0,12.0,12.0
Value      12906023.0,12825805.0,12514287.0,13091438.0,12...
Name: 108, dtype: object
Metrics                                Wave_Alloc_Failed_max
Value_2                        12.0,12.0,12.0,12.0,12.0,12.0
Value      120369787.0,120619477.0,123227053.0,126324201....
Name: 109, dtype: object
Metrics                           Wave_Alloc_Failed_-_CS_avg
Value_2                220.0,220.0,220.0,220.0,220.65,221.21
Value      47031510.6,47992389.92,47723680.43,46975477.59...
Name: 110, dtype: object

In [3]:
df = pd.read_csv('combinedworkloads_runtime.csv')
print(df.tail())
result.columns = df.columns
# print(result.head())
fin_res = pd.concat([df,result], ignore_index=True)
print(fin_res.tail())
fin_res.to_csv('result.csv',index=False)

                             Unnamed: 0  \
199                    TCC_EA_WRREQ_std
200                TCC_EA_WRREQ_64B_std
201  TCC_EA_WRREQ_DRAM_CREDIT_STALL_std
202              TCC_EA_WRREQ_LEVEL_std
203                             runtime

    initKernel(HIP_vector_type<float__4u>*__unsigned_long)_  \
199  32416769.772637367,32637664.224836957,32581621...
200  0.2947187662773721,0.5720855327690696,0.467594...
201  3095.2277268325506,3818.019635504161,3717.4164...
202  2244031.3812451214,2473907.0727040526,2558029....
203  371633.5813953488,372899.2034883721,369277.901...

    void_sumKernel<24__1024>(HIP_vector_type<float__4u>*__HIP_vector_type<float__4u>_const*__int)_
199  0.0,0.0,24.82827944725687,0.0,1209.49558848674...
200  0.0,0.0,4.730836726654824,0.0,0.89682820029519...
201                            0.0,0.0,0.0,0.0,0.0,0.0
202                            0.0,0.0,0.0,0.0,0.0,0.0
203  26256093.802325584,25850902.860465117,26390859...
                          Unnamed: 0  \
705   L2_-_EA_Read_Stall_(DRAM)_mean
706    L2_-_EA_Read_Stall_(DRAM)_std
707   L2_-_EA_Write_Stall_(DRAM)_max
708  L2_-_EA_Write_Stall_(DRAM)_mean
709   L2_-_EA_Write_Stall_(DRAM)_std

    initKernel(HIP_vector_type<float__4u>*__unsigned_long)_  \
705                            0.0,0.0,0.0,0.0,0.0,0.0
706                            0.0,0.0,0.0,0.0,0.0,0.0
707      1702.9,1783.56,1732.05,1624.57,1619.89,1695.2
708           221.12,226.11,221.43,221.59,224.81,221.5
709           362.69,375.25,368.47,364.93,372.38,370.2

    void_sumKernel<24__1024>(HIP_vector_type<float__4u>*__HIP_vector_type<float__4u>_const*__int)_
705                      0.69,0.65,0.68,0.63,0.65,0.65
706                         0.62,0.6,0.6,0.59,0.6,0.59
707                            0.0,0.0,0.0,0.0,0.0,0.0
708                            0.0,0.0,0.0,0.0,0.0,0.0
709                            0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
print(fin_res.shape)

(710, 3)